name: Validate JSONs

on: [pull_request]

jobs:
    team-json-validation:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: Validate JSON
              uses: docker://orrosenblatt/validate-json-action:latest
              env:
                  INPUT_SCHEMA: /data/team.schema.json
                  INPUT_JSONS: /data/team.v1.json
